<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/">Terminar</ion-button>
    </ion-buttons>

    <ion-title>
      Selección de carrera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-img src="assets/icon/upav_img1.JPG" class="app-image"></ion-img>
      </ion-col>
    </ion-row>

    <!-- Selección de categoría -->
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>Selecciona una categoría</h3>
        </ion-text>
        <ion-select [(ngModel)]="selectedCategory" placeholder="Seleccione una categoría"
          (ionChange)="onCategoryChange($event)">
          <ion-select-option value="educacion">Educación</ion-select-option>
          <ion-select-option value="artesHumanidades">Artes y Humanidades</ion-select-option>
          <ion-select-option value="cienciasAdministrativas">Ciencias Administrativas</ion-select-option>
          <ion-select-option value="cienciasExactas">Ciencias Exactas e Ingeniería</ion-select-option>
          <ion-select-option value="cienciasSociales">Ciencias Sociales</ion-select-option>
          <ion-select-option value="cienciasAgropecuarias">Ciencias Agropecuarias y Veterinaria</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Mostrar opciones basadas en la categoría seleccionada -->
    <ion-row *ngIf="selectedCategory === 'educacion'">
      <ion-col size="12">
        <ion-text>
          <h3>EDUCACIÓN:</h3>
        </ion-text>
        <ion-select placeholder="Seleccione una opción">
          <ion-select-option value="deportiva">Educación Deportiva</ion-select-option>
          <ion-select-option value="artistica">Educación Artística</ion-select-option>
          <ion-select-option value="psicopedagogia">Psicopedagogía</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedCategory === 'artesHumanidades'">
      <ion-col size="12">
        <ion-text>
          <h3>ARTES Y HUMANIDADES:</h3>
        </ion-text>
        <ion-select placeholder="Seleccione una opción">
          <ion-select-option value="diseno">Diseño Gráfico</ion-select-option>
          <ion-select-option value="idioma">Idioma Inglés</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedCategory === 'cienciasAdministrativas'">
      <ion-col size="12">
        <ion-text>
          <h3>CIENCIAS ADMINISTRATIVAS:</h3>
        </ion-text>
        <ion-select placeholder="Seleccione una opción">
          <ion-select-option value="administracion_empresas">Administración de Empresas</ion-select-option>
          <ion-select-option value="administracion_agron">Administración de Agronegocios</ion-select-option>
          <ion-select-option value="comercio">Comercio Exterior</ion-select-option>
          <ion-select-option value="contaduria">Contaduría Pública</ion-select-option>
          <ion-select-option value="gastronomia">Gastronomía</ion-select-option>
          <ion-select-option value="turismo">Turismo</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedCategory === 'cienciasExactas'">
      <ion-col size="12">
        <ion-text>
          <h3>CIENCIAS EXACTAS E INGENIERÍA:</h3>
        </ion-text>
        <ion-select placeholder="Seleccione una opción">
          <ion-select-option value="ingenieria_energetica">Ingeniería Energética</ion-select-option>
          <ion-select-option value="ingenieria_mecatronica">Ingeniería Mecatrónica</ion-select-option>
          <ion-select-option value="ingenieria_industrial">Ingeniería Industrial</ion-select-option>
          <ion-select-option value="ingenieria_petrolera">Ingeniería Petrolera</ion-select-option>
          <ion-select-option value="arquitectura">Arquitectura</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedCategory === 'cienciasSociales'">
      <ion-col size="12">
        <ion-text>
          <h3>CIENCIAS SOCIALES:</h3>
        </ion-text>
        <ion-select placeholder="Seleccione una opción">
          <ion-select-option value="psicologia">Psicología</ion-select-option>
          <ion-select-option value="derecho">Derecho</ion-select-option>
          <ion-select-option value="criminologia">Criminología</ion-select-option>
          <ion-select-option value="ciencias_politicas">Ciencias Políticas</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedCategory === 'cienciasAgropecuarias'">
      <ion-col size="12">
        <ion-text>
          <h3>CIENCIAS AGROPECUARIAS Y VETERINARIA:</h3>
        </ion-text>
        <ion-select placeholder="Seleccione una opción">
          <ion-select-option value="medicina_veterinaria">Medicina Veterinaria y Zootecnia</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>