// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-upav-color: #2026df;
    --ion-color-upav-color-rgb: 32, 38, 223;
    --ion-color-upav-color-contrast: #ffffff;
    --ion-color-upav-color-contrast-rgb: 255, 255, 255;
    --ion-color-upav-color-shade: #1c21c4;
    --ion-color-upav-color-tint: #363ce2;
    --ion-background-color: #ffffff;
}