<ion-content>
  <div class="student-card">
    <img class="profile-picture" src="https://via.placeholder.com/150" alt="Foto de perfil" />
    <div class="student-info">
      <h3>Juan Pérez</h3>
      <p class="id">Matrícula: 2023123456</p>
      <p class="career">Ingeniería en Desarrollo de Software</p>
    </div>
    <div class="actions">
      <ion-button expand="block" fill="solid" color="primary" (click)="toggleMaterias()">Ver Calificaciones</ion-button>
      <ion-button expand="block" fill="outline" color="secondary">Enviar Mensaje</ion-button>
    </div>
  </div>
</ion-content>


<ion-content>


 
  <!-- Materias se mostrarán solo cuando showMaterias sea true -->
  <ion-content>
    <div class="grades-container" *ngIf="showMaterias">
      <!-- Encabezado -->
      <div class="grades-header">
        <span>Materias</span>
        <span>P1</span>
        <span>P2</span>
        <span>F</span>
      </div>
      
      <!-- Materias con calificaciones -->
      <div class="grades-item" *ngFor="let materia of listaMaterias">
        <span>{{ materia.nombre }}</span>
        <span>{{ materia.p1 }}</span>
        <span>{{ materia.p2 }}</span>
        <span>{{ materia.f }}</span>
      </div>
    </div>
  </ion-content>
  

  
                
</ion-content>
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" routerLink="../inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutinas" routerLink="../tareas">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="qr" routerLink="../qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" routerLink="../cuenta">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="horario" routerLink="../horario">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Horario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>