<ion-header>
  <ion-grid>
    <ion-row>
      <!-- Primera columna para las imágenes -->
      <ion-col size="4">
        <ion-img src="assets/icon/post.png" style="width: 118px; height: 114px;"></ion-img>
        <ion-img src="assets/icon/upavmg.png" style="width: 94px; height: 62px; margin: 10px 0;" class="t"></ion-img>
      </ion-col>

      <!-- Segunda columna para los textos -->
      <ion-col size="8">
        <ion-text color="primary" style="font-size: 25px; font-weight: bold;">
          PERFIL ALUMNO
        </ion-text>
        <ion-text color="medium" style="font-size: 20px; font-weight: bold; display: block; margin: 5px 0;">
          Nombre_Alumno
        </ion-text>
        <ion-text color="medium" style="font-size: 20px; font-weight: bold; display: block; margin: 5px 0;">
          Grado y Grupo: 1"A"
        </ion-text>
        <ion-text color="medium" style="font-size: 20px; font-weight: bold; display: block; margin: 5px 0;">
          Carrera
        </ion-text>
        <ion-text color="medium" style="font-size: 20px; font-weight: bold; display: block; margin: 5px 0;">
          Semestre: 1
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>


  <ion-col size="6">
    <div class="image-container">
      <ion-button class="image-title" (click)="toggleMaterias()">Calificaciones</ion-button>
    </div>
  </ion-col>
  
  <!-- Materias se mostrarán solo cuando showMaterias sea true -->
  <ion-item *ngIf="showMaterias">
    <h3 class="p">Materias</h3>
    <h3>P1</h3>
    <br>
    <h3>P2</h3>
    <h3>F</h3>
  </ion-item>
  <br>
  <ion-item *ngIf="showMaterias">
    <h3>Materia 1</h3>
    <h3>0.0</h3>
    <br>
    <h3>0.0</h3>
    <h3>0.0</h3>
  </ion-item>
  <br>
  <!-- Repite lo mismo para los demás ion-items -->
  <ion-item *ngIf="showMaterias">
    <h3>Materia 3</h3>
    <h3>0.0</h3>
    <br>
    <h3>0.0</h3>
    <h3>0.0</h3>
  </ion-item>
  <br>
  <!-- Sigue añadiendo el *ngIf en los demás ion-items -->
  <ion-item *ngIf="showMaterias">
    <h3>Materia 4</h3>
    <h3>0.0</h3>
    <br>
    <h3>0.0</h3>
    <h3>0.0</h3>
  </ion-item>
  <br>
  <ion-item *ngIf="showMaterias">
    <h3>Materia 5</h3>
    <h3>0.0</h3>
    <br>
    <h3>0.0</h3>
    <h3>0.0</h3>
  </ion-item>
  <br>

  <ion-row class="logout-row">
    <ion-col class="logout-col">
      <div class="CSBTN">
        <ion-button routerLink="../login">Cerrar sesión</ion-button>
      </div>
    </ion-col>
  </ion-row>
                
</ion-content>
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" routerLink="../inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutinas" routerLink="../tareas">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="qr" routerLink="../qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" routerLink="../cuenta">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="horario" routerLink="../horario">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Horario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>