image-title {
    margin-bottom: -10px;
    text-align: center;
}

.image-grid {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: solid;
    margin: 20px;
}
h3{
    margin-right: 50px; /* adjust the value to your liking */
  }
  .p{
    margin-right: 50px;

  }

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ion-label {
    font-size: 12px;
    font-weight: bold;
    color: #0000ff;
    /* Cambiar el color a azul */
}



.logout-row {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center; /* Centra horizontalmente el contenido */
  }
  
  .logout-col {
    display: flex;
    justify-content: center; /* Asegura que el botón esté centrado dentro de la columna */
  }
  
  .CSBTN {
    margin-bottom: 20px; /* Espaciado opcional desde el borde inferior */
  }
  