ion-content {
    background-color: #E3F2FD; 
  }
  
  ion-item {
    --background: #BBDEFB; 
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  
  ion-label h2 {
    color: #1E88E5; 
    font-weight: bold;
  }
  
  ion-note {
    color: #0D47A1; 
  }
  
  ion-footer {
    padding: 10px;
  }
  
  ion-button {
    --background: #1565C0; 
    --color: white;
    border-radius: 10px;
  }