<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="!formulario.valid" routerLink="../carrera">Siguiente</ion-button>
    </ion-buttons>

    <ion-title>
      Datos generales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-img src="assets/icon/upav_img1.JPG" class="app-image"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Estado civil</ion-label>
            <ion-select formControlName="estadoCivil">
              <ion-select-option value="soltero">Soltero</ion-select-option>
              <ion-select-option value="casado">Casado</ion-select-option>
              <ion-select-option value="otro">Otro</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-text color="danger"
            *ngIf="formulario.controls['estadoCivil'].invalid && formulario.controls['estadoCivil'].touched">
            Este campo es obligatorio
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Código postal</ion-label>
            <ion-input formControlName="codigoPostal" type="text" maxlength="5" minlength="5"></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="formulario.controls['codigoPostal'].invalid && formulario.controls['codigoPostal'].touched">
            El código postal debe tener exactamente 5 dígitos
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Colonia</ion-label>
            <ion-input formControlName="colonia" type="text"></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="formulario.controls['colonia'].invalid && formulario.controls['colonia'].touched">
            Este campo es obligatorio
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Localidad</ion-label>
            <ion-input formControlName="localidad" type="text"></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="formulario.controls['localidad'].invalid && formulario.controls['localidad'].touched">
            Este campo es obligatorio
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Calle</ion-label>
            <ion-input formControlName="direccion" type="text"></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="formulario.controls['direccion'].invalid && formulario.controls['direccion'].touched">
            Este campo es obligatorio
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Tel. celular</ion-label>
            <ion-input formControlName="celular" type="text" maxlength="10" minlength="10"></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="formulario.controls['celular'].invalid && formulario.controls['celular'].touched">
            El número de celular debe tener exactamente 10 dígitos
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Ocupación</ion-label>
            <ion-input formControlName="ocupacion" type="text"></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="formulario.controls['ocupacion'].invalid && formulario.controls['ocupacion'].touched">
            Este campo es obligatorio
          </ion-text>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>