<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="../login">
        <ion-icon slot="icon-only" name="log-out-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <h2>¡Explora las funciones!</h2>
    <p>Descubre todo lo que puedes hacer en la aplicación.</p>
  </div>

  <div class="card-section">
    <ion-card class="feature-card" routerLink="../api">
      <ion-icon class="icon" name="locate-outline"></ion-icon>
      <ion-card-header>
        <ion-card-title>Mi ubicación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       ¡No te pierdas al buscar la escuela!
      </ion-card-content>
    </ion-card>

    <ion-card class="feature-card">
      <ion-icon class="icon" name="notifications-outline"></ion-icon>
      <ion-card-header>
        <ion-card-title>Noticias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Consulta las noticias sobre la escuela
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" routerLink="../inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutinas" routerLink="../tareas">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="qr" routerLink="../qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" routerLink="../cuenta">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="horario" routerLink="../horario">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Horario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>