
<ion-content>
  <ion-text>
    <h1> <strong>BIENVENIDO</strong></h1>
  </ion-text>
  <ion-item class="p">
    <ion-img src="/assets/icon/post.png" class="t"></ion-img>
    <ion-label> <ion-img src="/assets/icon/post.png" class="t"></ion-img></ion-label>
  </ion-item>
  <br>
  <ion-text>
    <h1> <strong>TARJETA VIRTUAL</strong></h1>
  </ion-text>
  <ion-text>
    <p class="l"><strong>Puedes consultar tu tarjeta de estudiante virtual oficial si la requieres </strong></p>
  </ion-text>
  <ion-item class="p">
    <ion-img src="/assets/icon/credencial.png" class="o"></ion-img>
  </ion-item>

  <ion-item>
    <ion-button routerLink="../api">Mapa</ion-button>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" routerLink="../inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutinas" routerLink="../tareas">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="qr" routerLink="../qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" routerLink="../cuenta">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="horario" routerLink="../horario">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Horario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>